<form class="form-signin">
  <h2 class="form-signin-heading">Change password</h2>

  <div *ngIf="message!=nil" class="alert alert-danger">
    {{message}}
  </div>

  <label for="username" class="sr-only">Username</label>
  <input type="text" placeholder="username" class="form-control"
    required="required" disabled="disabled"
    [(ngModel)]="username" name="username" />

  <label for="oldPassword" class="sr-only">Password</label>
  <input type="password" placeholder="old password" class="form-control" autofocus
    required="required" [(ngModel)]="oldPassword" name="oldPassword" />
  
  <label for="newPassword" class="sr-only">Password</label>
  <input type="password" placeholder="new password" class="form-control"
    required="required" [(ngModel)]="newPassword" name="newPassword" />

  <label for="confirmPassword" class="sr-only">Password</label>
  <input type="password" placeholder="confirm password" class="form-control"
    required="required" [(ngModel)]="confirmPassword" name="confirmPassword" />
  
  <button class="btn btn-lg btn-primary btn-block" (click)="onSubmit()">
    Change password
  </button>
</form>